            .canvas-container {
                position: relative;
                display: inline-block;
            }

            /* Canvas本体 */
            #graphcanvas {
                position: fixed;
                top: 60px;
                left: 640px;
                width: 1024px;
                height: 800px;
                z-index: 1;
                border-radius: 14px;
            }
            #graphcanvas.fade.visible {
                opacity: 1;
            }
            #graphcanvas.fade {
                opacity: 0;
                transition: opacity 0.8s ease-in-out;
            }
