/* --- Option Panel Styles --- */
.option-panel {
    display: none;
    position: absolute;
    font-size: 0.8em;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 243px;
    max-width: 243px;
    min-width: 243px;
    backdrop-filter: blur(4px);
    border: 1px solid var(--border);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px var(--shadow);
}

.option-panel:not([hidden]) {
    display: block;
}


#option-panel input[type='checkbox'] {
    appearance: none;
    height: 14px;
    width: 14px;
    border: 2px solid var(--border);
    border-radius: 4px;
    background-color: transparent;
}

#option-panel input[type='checkbox']:checked {
    background-color: var(--acc-b);
    width: 14px;
    height: 14px;
}

#option-panel strong {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--acc-b);
}

#option-panel.editor-btn {
    padding: 4px 0;
    width: 80px;
    margin: 1px 0 0;
    border: 1px solid var(--border);
}
