        .block {
            border: 3px solid;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            cursor: grab;
            position: absolute;
            z-index: 10;
            transition: transform 0.1s ease-out;
            touch-action: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #A  {width: 200px;  height: 200px;}
        #B  {width:  100px;  height: 200px;}
        #C  {width:  100px;  height: 200px;}
        #D  {width:  100px;  height: 200px;}
        #E  {width:  100px;  height: 200px;}
        #F  {width: 200px;  height:  100px;}
        #G  {width:  100px;  height:  100px;}
        #H  {width:  100px;  height:  100px;}
        #I  {width:  100px;  height:  100px;}
        #J  {width:  100px;  height:  100px;}

	
        #game-board {
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
	
        .square {
            width: 80px;
            height: 80px;
        }
	
